.u-section-1 .u-sheet-1 {
  min-height: 168px;
}

.u-section-1 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 121px;
  min-width: 57px;
  white-space: nowrap;
  animation-duration: 1000ms;
  margin: 54px auto;
}

.u-section-1 .u-icon-1 {
  height: 48px;
}

.u-section-1 .u-icon-2 {
  height: 48px;
}
